html
 head
  meta(charset="utf-8")
  title= title
  script(type='text/javascript', src='/js/jquery-1.10.2.js')
  script(type='text/javascript', src='/js/bootstrap.js')
  script(type='text/javascript', src='/js/script.js')
  script(type="text/javascript" src="js/bootstrap-filestyle.min.js")
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/style.css')
 body
  p el estatus es #{message}
  #login  
    if usuario 
      #loginActivo
        p Bienvenido #{usuario.nickName}
        a(href='/logout') Salir
    else
      form(method="POST", action="/login")
        table
          tr
            td
              input(type="text" id="usuarioLogin" name="nickName" placeholder="Usuario")
            td
              input(type="password" name="contrasena" placeholder="Contraseña") 
            td
             button(type="submit" class="btn btn-primary btn-xs") Ingresar
          tr
            td
             a(href='/restaurarContrasena') Olvide Contraseña 
            td
             #ventanaRegistro
              a(href='/clientes/registrar') Registrarse  
  #logo
    a(href='/') 
     img(src='/images/logo.jpg')
  #titulo
    p GENERA TU PAGINA WEB E-COMERCE
  #barra
   ul.nav.nav-pills
    li(class=pesHome)
     a(href='/') Home
    li(class=pesRegistrar)
     a(href='/clientes/registrar') Registrar
    li(class=pesRequerimiento)
     a(href='/plantillas/requerimientos') Requerimientos
  #contenido
   block content
  
  #contacto
   #escudo
    img(src='/images/escudo.png')

   #autores
    p Laura Daniela Acosta 
    p Oscar Alonso Beltrán 
    p Viviana Cadena Díaz 
    p Arley Carantón Galeano 
  